<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Today</h1>
  <p>
    <% time = Time.new%>
    The date is <%= time.strftime("%A") %>, <%= time.strftime("%B") %> <%= time.strftime("%d") %>, <%= time.strftime("%Y") %>.
  </p>
</body>
</html>